
.skills {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 70px);
    margin: 20px;
  }
 .skl{
     margin-left: 20px;
     color: yellow;
 }
.sklLine{
    position: relative;
    bottom: 8px;
    visibility: hidden;
    padding-left: 6px;
    color: greenyellow;
}
  .ProgWidth {
    padding: 0px 20px;
  }
  .skillDiv {
    height: 5px;
    width: 100%;
    background-color: gray;
  }
  .skillBar {
    display: block;
    height: 5px;
    background-color: rgb(26, 204, 19);
  }
  .p {
    display: flex;
    justify-content: space-between;
  }

  .htmlBar {
    width: 95%;
  }
  .cssBar {
    width: 95%;
  }
  .jsBar {
    width: 90%;
  }
  
  .javaBar {
    width: 90%;
  }
  .ccpBar {
    width: 85%;
  }
  .reactBar {
    width: 85%;
  }
  .nodeBar {
    width: 75%;
  }
  .sqlBar {
    width: 75%;
  }