.navbar,.jumbo{
  background-color: grey;
  color-scheme: 50%;
}
.content-footer {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  background-color: grey;
  color-scheme: 50%;
  text-decoration: none;
}
.p{
  color: white;
}
.css-is-deranged {
  color: white;
  text-decoration: none;
}
.social > li {
  display: inline-block;
  margin: 0 5px;
}
.content-footer > p {
  color: grey;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: #F1C863;
}
.Skills,
.introduction-section {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
.fa-twitter{
  color: white;
  padding-bottom: 25px;
}
.fa-github{
  color: white;
}
.fa-linkedin{
  color: white;
}
.section-1{
  font-size: 1.5rem;
}
.skills{
  font-size: 1.5rem;    
}
@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
    .content-footer {
        padding: 2em 2.5em;
  }
}