@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

/* UTILITIES */
body {
    font-family: "Lato", sans-serif;
    background-color: #fcf8ee;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.space {
    height: 200px;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fcf8ee;
    color: #8982c3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav-links a {
    color: #8982c3;
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #fff;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.services:hover .dropdown {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* Container 1 Styles */
.container1 {
    padding-top: 250px;
    padding-left: 50px;
    height: 400px;
    /* background-color: #fcf8ee; */
    display: flex;
    justify-content: space-between;

}

.left-text {
    width: 60%;
}

.hi {
    font-size: 23px;
    color: #fff;
    padding: 0px;
}

.name {
    font-size: 50px;
    color: #fff;
}

.right-pic {
    margin-left: 300px;
    padding-right: 300px;
    padding-bottom: 150px;
}

.right-pic img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.container2 {
    padding-top: 5px;
    padding-left: 50px;
    /* height: 450px; */
    background-color: #fcf8ee;
}

.title {
    text-decoration: underline;
    color: #8982C3;
    font-size: 35px;
    margin: auto;
    width: 15%;
}

.job-card {
    color: #A0ACBD;
    font-size: 25px;
    margin: auto;
    width: 50%;
}

.jobtitle {
    font-size: 30px;
    color: #8982C3;
}

/* Project Styles */
.container3 {
    padding-top: 5px;
    padding-left: 50px;
    background-color: #fcf8ee;
}

.projtitle {
    text-decoration: underline;
    color: #8982C3;
    font-size: 35px;
    margin: auto;
    width: 15%;
}

.project-card {
    color: #A0ACBD;
    font-size: 25px;
    margin: auto;
    width: 50%;
}

.ProjectTtle {
    font-size: 30px;
    color: #8982C3;
}

.view {
    width: 200px;
    height: 50px;
    background-color: #8982C3;
    border: none;
}

.view a {
    color: #fff;
    font-size: 20px;
}


footer {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

footer .view {
    margin-left: 220px;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #fcf8ee;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type="checkbox"]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}



@media only screen and (max-width: 768px) {
    .container1 {
        padding-top: 100px;
    }

    .hi,
    .name {
        width: 80%;
        font-size: 20px;
        margin-top: 100px;
        margin: auto;
        color: #fff;
    }

    .container2 .title {
        padding-top: 100px;
        font-size: 25px;
        text-align: center;
        width: 60%;
    }

    .container2 .job-card {
        width: 100%;
    }

    .jobtitle {
        font-size: 25px;
        text-align: center;
    }

    .right-pic {
        display: none;
    }

    .container3 .projtitle {
        padding-top: 100px;
        font-size: 25px;
        text-align: center;
        width: 40%;
        padding-right: 5px;
    }

    .container3 .project-card {
        width: 100%;
        padding-right: 5px;
    }

    .ProjectTtle {
        font-size: 25px;
        text-align: center;
        padding-right: 5px;
    }

    .view {
        margin-left: 100px;
    }

    footer .view {
        margin-right: 220px;
    }
}